<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Home</title>
    <style type="text/css">
        a{text-decoration:none; color:#000000;}
        a:hover{color:#ff0000;}
        nav ul{padding-top:10px;}
        nav ul li {
            display:inline;
            border-left:1px solid #999;
            font:bold 12px Dotum;
            padding:0 10px;
        }
        nav ul li:first-child{border-left:none;}
    </style>
</head>
<body>
<form action="#" th:action="@{/(page=${dataModel.page})}" th:object="${dataModel}" method="post">
    <h1>Uri input</h1>
    <input type="text" th:field="*{uri}" size="70"/>
    <input type="submit" value="Submit" />
</form>


<div class="container" >
    <h1>Recently Visited</h1>
    <table id="recentlyVisited" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>URL</th>
            <th>Datetime</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${recentlyVisited}">
            <td th:text="${entry.historyId}"/>
            <td th:text="${entry.uri}"/>
            <td th:text="${entry.visitDate}"/>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li th:each="no:${#numbers.sequence(1, dataModel.totalPages)}" >
                <a th:href="@{/(page=${no-1})}" th:text="${ no }"></a></a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <h1>Least Recently Visited</h1>
    <table id="leastRecentlyVisitedTable" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Datetime</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${leastRecentlyVisited}">
            <td th:text="${entry.index}"/>
            <td th:text="${entry.hostName}"/>
            <td th:text="${entry.lastVisitedDate}"/>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div class="container">
    <h1>Most Frequently Visited</h1>
    <table id="mostFrequentlyVisitedTable" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${mostFrequentlyVisited}">
            <td th:text="${entry.index}"/>
            <td th:text="${entry.hostName}"/>
            <td th:text="${entry.visitedCount}"/>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>